---
// component imports
import MainLayout from "../layouts/MainLayout.astro";

import PostCard from "../components/PostCard.astro";
import Link from "../components/Link.astro";

// utils imports
import { formatBlogPosts } from "../js/utils";

const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  limit: 3,
});
---

<MainLayout title="Privacy Policy">
  <section class="container" aria-label="Privacy Policy">
    <h2 class="h1">Earnings Disclaimer and Privacy Policy</h2>
    <div class="post-container policy">
      <h1>プライバシーポリシー</h1>
      <p>
        当ウェブサイトのプライバシーポリシーには、個人情報の収集、利用、保護に関する情報が記載されています。本ポリシーにご同意いただけない場合は、当サイトの利用を中止してください。
      </p>

      <h2>1. 収集する情報</h2>
      当サイトでは、以下のような目的で、利用者の個人情報を収集する場合があります:
      <p class="">1.1. コンテンツの提供および改善のための情報</p>
      当サイトでは、利用者に最適なコンテンツを提供するため、およびサイトの改善のために、以下の情報を収集することがあります
      <p>ユーザーが提供するお問い合わせやフィードバックに関連する情報</p>
      <p>
        ユーザーが当サイトにアクセスした際のデバイス情報（例:
        IPアドレス、ブラウザの種類、利用した言語、アクセス日時など）
      </p>
      <p>1.2. 広告の配信に関する情報</p>
      <p>
        当サイトでは、Google
        AdSenseを使用して広告を配信しています。広告表示において、以下の情報を収集するためにCookieやウェブビーコンを使用していることがあります
      </p>
      <p>ユーザーのデバイスに関する情報</p>
      <p>過去のサイトの利用履歴に基づく興味関心情報</p>
      <p>1.3. アクセス解析のための情報</p>
      <p>
        当サイトでは、Google
        Analyticsを使用してトラフィックデータを収集しています。収集される情報には、利用者のIPアドレス、ブラウザの種類、利用した言語、アクセス日時などが含まれます。これらの情報は匿名化されており、個人を特定するために使用されることはありません。
      </p>

      <h2>2. 個人情報の利用</h2>
      <p>当サイトでは、収集した情報を以下の目的で利用することがあります</p>
      <ul>
        <li>利用者へのコンテンツの提供および改善</li>
        <li>広告の配信および興味に基づく広告のカスタマイズ</li>
        <li>サイトのトラフィック解析および改善</li>
        <li>利用者からのお問い合わせへの回答やフィードバックへの対応</li>
        <li>サイトのセキュリティおよび不正行為の検出・防止</li>
      </ul>

      <h2>3. データの保存とセキュリティ</h2>
      <p>
        当サイトは、利用者の個人情報の保護とセキュリティに合理的な対策を講じています。利用者の個人情報への不正アクセス、紛失、改ざん、漏洩を防ぐために、技術的な手段や適切な管理プロセスを導入しています。ただし、インターネット上のデータ送信には完全なセキュリティを保証することはできません。情報の送信は利用者の自己責任で行ってください。
      </p>

      <h2>4. 本プライバシーポリシーの適用範囲</h2>
      <p>
        本プライバシーポリシーは、当サイトの利用に関連する情報に適用されます。ただし、当サイト以外のウェブサイトやサービスには適用されません。リンク先のウェブサイトやサービスのプライバシーポリシーについては、利用者自身が確認するようお願いします。
      </p>

      <h2>5. 禁止事項</h2>
      <p>利用者は、当サイトを通じて以下のような行為を行ってはなりません:</p>
      <ul>
        <li>法律に違反する行為</li>
        <li>第三者の権利を侵害する行為</li>
        <li>
          コンピュータウイルスや有害なコンテンツの配信、または他の利用者への迷惑行為
        </li>
        <li>当サイトの運営を妨害する行為</li>
      </ul>

      <h2>6. 第三者サービス</h2>
      <p>
        当サイトでは、広告配信やアクセス解析のために第三者サービスを利用する場合があります。これらのサービス提供者は、当サイトの個人情報を自身の目的で収集、使用、管理することがあります。各サービス提供者のプライバシーポリシーについては、それぞれのウェブサイトをご確認ください。
      </p>

      <h2>7. Cookie（クッキー）の利用</h2>
      <p>
        当サイトでは、利用者のウェブブラウザにCookie（クッキー）を使用する場合があります。Cookieは利用者のコンピュータに保存される小さなテキストファイルであり、利用者のサイトの利用状況や設定情報を記録するために使用されます。Cookieには個人を特定する情報は含まれませんが、利用者はブラウザの設定でCookieの使用を制御することができます。
      </p>

      <h2>8. Google Analytics</h2>
      <p>
        当サイトでは、Googleアナリティクスを使用してウェブサイトのトラフィックや利用状況を分析しています。GoogleアナリティクスはCookieや匿名の識別子などを使用し、利用者の情報を収集します。この情報は匿名で集計され、ウェブサイトの改善や利用者により良い体験を提供するために使用されます。
      </p>

      <h2>9. Google AdSense</h2>
      <p>
        当サイトでは、広告配信サービスであるGoogle
        AdSenseを使用しています。Google
        AdSenseはCookieやウェブビーコンなどを使用し、利用者の興味に基づいた広告を表示するために情報を収集します。この情報は匿名で収集され、広告のパーソナライズや広告主へのレポート作成に使用されます。
      </p>

      <h2>10. アフィリエイトプログラム</h2>
      <p>
        当サイトでは、アフィリエイトプログラムを利用して商品やサービスの紹介を行う場合があります。アフィリエイトリンクを通じて商品やサービスを購入された場合、当サイトは紹介料を受け取ることがあります。アフィリエイトリンクをクリックしたり、商品やサービスを購入する際には、各自の裁量と自己責任に基づいて行動してください。
      </p>

      <h2>11. 広告の表示</h2>
      <p>
        当サイトでは、サードパーティの広告配信ネットワークを通じて広告を表示する場合があります。これらの広告配信ネットワークは、Cookieやウェブビーコンなどを使用して利用者の興味に基づいた広告を提供します。広告の配信には、利用者のウェブサイト訪問履歴やその他の情報が使用される場合があります。
      </p>

      <h2>12. セキュリティ</h2>
      <p>
        当サイトは、利用者の個人情報を保護するために適切なセキュリティ対策を実施しています。しかし、インターネット上での情報の送信や保存は完全に安全とは言えません。当サイトは合理的な手段を講じて情報のセキュリティを維持する努力をしますが、情報の漏洩や不正アクセスのリスクを完全に排除することはできません。
      </p>

      <h2>13. 国際データ転送</h2>
      <p>
        当サイトの運営は、国際的な範囲で行われる場合があります。利用者の個人情報は、利用者の所在国や当サイトが情報を収集する国とは異なる国に転送される可能性があります。その場合、当サイトは適切な保護措置を講じ、個人情報の適切な保護を確保するために必要な手続きを行います。
      </p>

      <h2>14. プライバシーポリシーの変更通知</h2>
      <p>
        当サイトがプライバシーポリシーを変更する場合、変更内容を本ページに掲載します。重要な変更がある場合は、利用者に通知するため適切な手段を取ります。プライバシーポリシーの変更により、利用者の権利や義務に重大な影響を及ぼす場合は、利用者の明示的な同意を得るよう努めます
      </p>

      <h2>15. 本プライバシーポリシーの言語</h2>
      <p>
        本プライバシーポリシーのオリジナル言語は、日本語です。翻訳版が他の言語で提供される場合、日本語版が優先されます。翻訳版と日本語版との間に相違がある場合、日本語版が優先されるものとします。
      </p>

      <h2>16. 合意と同意撤回</h2>
      <p>
        利用者は、当サイトを利用することにより、本プライバシーポリシーに同意したものとみなされます。利用者はいつでも自身の同意を撤回することができますが、同意撤回により一部のサービスや機能が制限される場合があります。
      </p>

      <h2>17. 未解決の問題</h2>
      <p>
        当サイトは、個人情報の取り扱いに関する法的な要件を遵守し、ベストプラクティスを尊重しています。個人情報の収集や利用に関して問題や不明な点がある場合は、お問い合わせをいただければ、迅速に対応いたします。
      </p>

      <h2>18. プライバシーポリシーの効力</h2>
      <p>
        本プライバシーポリシーは、掲載された日付から効力を有します。前バージョンのプライバシーポリシーについては、当サイトのアーカイブを参照してください
      </p>

      プライバシーに関するお問い合わせ
      <p>
        当サイトのプライバシーポリシーに関するお問い合わせや苦情がある場合は、以下の連絡先までご連絡ください。可能な限り迅速に対応いたします。
      </p>

      <p>machijunblog.customer@gmail.com</p>

      <p>Updated May 6, 2023</p>
    </div>
  </section>
</MainLayout>
