---
---

<footer>
  <div class="container">
    <small>
      <a href="/privacyPolicy">Privacy Policy</a>
    </small>
  </div>

  <small>
    Copyright &copy; <span id="copyright"></span> | All rights reserved
  </small>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>